<nav class="navbar navbar-inverse" ng-if='vm.show'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Flaskular Core</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="uib-dropdown" uib-dropdown
            ng-if="vm.isLoggedIn && vm.isAdmin"
            ui-sref-active="active">
          <a href
              class="uib-dropdown-toggle"
              uib-dropdown-toggle
              role="button"
              aria-expanded="false">
            Admin <span class="caret"></span>
          </a>

          <ul class="uib-dropdown-menu" role="menu">
            <li><b>User Management</b></li>
            <li ui-sref-active="active">
              <a href ui-sref="auth/userlist">User List</a>
            </li>
          </ul>

          <a ng-hide="true" ui-sref="auth/userlist"></a>
          <a ng-hide="true" ui-sref="league/edit"></a>

        </li>

        <li ng-if="vm.isLoggedIn" ui-sref-active="active">
          <a href="#" ui-sref="profile">Profile</a>
        </li>
        <li ng-hide="vm.isLoggedIn" ui-sref-active="active">
          <a href="#" ui-sref="auth/login">Login</a>
        </li>
        <li ng-show="vm.isLoggedIn" ui-sref-active="active">
          <a href="#" ng-click="vm.logout()">Logout ({{vm.currentUser.username}})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
