<div class='container'>
  <div class='alert alert-inverse text-center'>
    <h2 class='thin-margins'>Welcome</h2>
  </div>

  <div class='row'>

    <div class='col-md-6'>
      <div class='center-text'>
        Add a logo here by uploading a logo image to /static/assets and
        updating the img tag below:
        <img src="/core/assets/[logo].png" />
      </div>
    </div>

    <div class='col-md-6'>

      <div class='panel panel-inverse'>
        <div class='panel-heading'>Login</div>
        <div class='panel-body'>
          <uib-alert type='danger' close='vm.closeLoginError()' ng-if='vm.loginError'>
            {{vm.loginErrorMsg}}
          </uib-alert>
          <form class='form' ng-submit='vm.login()'>
            <div class='form-group'>
              <input type='text'
                class='form-control'
                name='email'
                ng-model='vm.loginForm.email'
                placeholder='Email'
                required />
            </div>
            <div class='form-group input-group'>
              <input type='password'
                class='form-control'
                name='password'
                ng-model='vm.loginForm.password'
                placeholder='Password'
                required />
              <span class='input-group-btn'>
                <button type='submit' class='btn btn-primary'>Login</button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div class='panel panel-inverse'>
        <div class='panel-heading'>Don't Have an Account? Register for a New Account Here.</div>
        <div class='panel-body'>
          <uib-alert type='danger' close='vm.closeRegisterError()' ng-if='vm.registerError'>
            {{vm.registerErrorMsg}}
          </uib-alert>
          <form class='form' ng-submit='vm.register()'>
            <div class='form-group'>
              <input type='text'
                class='form-control'
                name='email'
                ng-model='vm.registerForm.email'
                placeholder='Email'
                required />
            </div>
            <div class='form-group'>
              <input type='password'
                class='form-control'
                name='password'
                ng-model='vm.registerForm.password'
                placeholder='Password'
                required />
            </div>
            <div class='form-group input-group'>
              <input type='password'
                class='form-control'
                name='password'
                ng-model='vm.registerForm.confirmPassword'
                placeholder='Confirm Password'
                required />
              <span class='input-group-btn'>
                <button type='submit' class='btn btn-primary'>Register</button>
              </span>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
