<div class="modal-header">
  Delete User?
</div>

<div class="modal-body">
  <div class="alert alert-warning">
    Are you sure that you want to delete user '{{ ml.email }}'?
    (note, this action cannot be undone)
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ml.ok()">
    <i class="glyphicon glyphicon-ok"></i> Yes</i>
  </button>
  <button type="button" class="btn btn-warning" ng-click="ml.cancel()">
    <i class="glyphicon glyphicon-remove"></i> No
  </button>
</div>
