<div class="half-width center-block">
  <div class='panel panel-default'>
    <div class='panel-heading'><h3>Register</h3></div>
    <div class='panel-body'>
      <div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>
      <form class="form" ng-submit="vm.register()">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" ng-model="vm.registerForm.email" required>
        </div>
        <div class="form-group">
          <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="vm.registerForm.password" required>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" ng-disabled="disabled">Register</button>
          </div>
      </form>
    </div>
  </div>
</div>
